#header{
    width: 100%;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}
#header-img{
  width: 30%;
  height: 100%;
  max-width: 300px
}
#nav-bar{
  display: flex;
}
#nav-link{
width: 35vw;
display: flex;
flex-direction: row;
justify-content: space-around;
}
li{
    list-style: none;
}
a{
    color: black;
    height: 20px;
    text-decoration: none;
}
 #video{
     display: flex;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     max-width: 560px;
 }
 iframe{
     margin-top: 70px;
 }
 #form{
   width: 100%;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   display: flex;

 }
 .ea{
   margin-left: auto;
   margin-right: auto;
 }
 button{
   background-color: yellow;
   margin-top: 20px
 }